.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: "Poiret One", serif;
        color: var(--background-color-h2);
        font-size: 4rem;
    }
}