---
---
<div class="container contact-form">
    <h2 class="contact-h2">Get in contact with us</h2>
    <p>Fill in the form or just drop by</p>
    <!--form -->
    <form method="post">
        <fieldset>
            <!--First Name -->
            <label for="first-name">
                Name: <input required id="first-name">
            </label>
        </fieldset>
    </form>
</div>

